USE [aspnet-GundamZoneProject-20251025100450]
GO
ALTER TABLE [dbo].[tb_Review] DROP CONSTRAINT [FK_dbo.tb_Review_dbo.tb_Product_ProductId]
GO
ALTER TABLE [dbo].[tb_ProductImage] DROP CONSTRAINT [FK_dbo.tb_ProductImage_dbo.tb_Product_ProductID]
GO
ALTER TABLE [dbo].[tb_Product] DROP CONSTRAINT [FK_dbo.tb_Product_dbo.tb_ProductCategory_ProductCategoryID]
GO
ALTER TABLE [dbo].[tb_Post] DROP CONSTRAINT [FK_dbo.tb_Post_dbo.tb_Post_Posts_Id]
GO
ALTER TABLE [dbo].[tb_Post] DROP CONSTRAINT [FK_dbo.tb_Post_dbo.tb_Category_CategoryID]
GO
ALTER TABLE [dbo].[tb_OrderDetail] DROP CONSTRAINT [FK_dbo.tb_OrderDetail_dbo.tb_Product_ProductId]
GO
ALTER TABLE [dbo].[tb_OrderDetail] DROP CONSTRAINT [FK_dbo.tb_OrderDetail_dbo.tb_Order_OrderId]
GO
ALTER TABLE [dbo].[tb_News] DROP CONSTRAINT [FK_dbo.tb_News_dbo.tb_Category_CategoryID]
GO
ALTER TABLE [dbo].[Imports] DROP CONSTRAINT [FK_dbo.Imports_dbo.tb_Product_ProductId]
GO
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserLogins] DROP CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserClaims] DROP CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[tb_ProductCategory] DROP CONSTRAINT [DF__tb_Produc__Alias__01142BA1]
GO
ALTER TABLE [dbo].[tb_Product] DROP CONSTRAINT [DF__tb_Produc__Origi__29221CFB]
GO
ALTER TABLE [dbo].[tb_Product] DROP CONSTRAINT [DF__tb_Produc__IsAct__74AE54BC]
GO
ALTER TABLE [dbo].[tb_Post] DROP CONSTRAINT [DF__tb_Post__IsActiv__73BA3083]
GO
ALTER TABLE [dbo].[tb_Order] DROP CONSTRAINT [DF__tb_Order__Discou__4F47C5E3]
GO
ALTER TABLE [dbo].[tb_Order] DROP CONSTRAINT [DF__tb_Order__Status__282DF8C2]
GO
ALTER TABLE [dbo].[tb_Order] DROP CONSTRAINT [DF__tb_Order__TypePa__2739D489]
GO
ALTER TABLE [dbo].[tb_News] DROP CONSTRAINT [DF__tb_News__IsActiv__72C60C4A]
GO
ALTER TABLE [dbo].[tb_Category] DROP CONSTRAINT [DF__tb_Catego__IsAct__71D1E811]
GO
ALTER TABLE [dbo].[Imports] DROP CONSTRAINT [DF__Imports__NewStoc__6442E2C9]
GO
ALTER TABLE [dbo].[Imports] DROP CONSTRAINT [DF__Imports__OldStoc__634EBE90]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 30/11/2025 9:51:01 CH ******/
DROP INDEX [IX_ProductId] ON [dbo].[tb_Review]
GO
/****** Object:  Index [IX_ProductID]    Script Date: 30/11/2025 9:51:01 CH ******/
DROP INDEX [IX_ProductID] ON [dbo].[tb_ProductImage]
GO
/****** Object:  Index [IX_ProductCategoryID]    Script Date: 30/11/2025 9:51:01 CH ******/
DROP INDEX [IX_ProductCategoryID] ON [dbo].[tb_Product]
GO
/****** Object:  Index [IX_Posts_Id]    Script Date: 30/11/2025 9:51:01 CH ******/
DROP INDEX [IX_Posts_Id] ON [dbo].[tb_Post]
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 30/11/2025 9:51:01 CH ******/
DROP INDEX [IX_CategoryID] ON [dbo].[tb_Post]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 30/11/2025 9:51:01 CH ******/
DROP INDEX [IX_ProductId] ON [dbo].[tb_OrderDetail]
GO
/****** Object:  Index [IX_OrderId]    Script Date: 30/11/2025 9:51:01 CH ******/
DROP INDEX [IX_OrderId] ON [dbo].[tb_OrderDetail]
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 30/11/2025 9:51:01 CH ******/
DROP INDEX [IX_CategoryID] ON [dbo].[tb_News]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 30/11/2025 9:51:01 CH ******/
DROP INDEX [IX_ProductId] ON [dbo].[Imports]
GO
/****** Object:  Index [UserNameIndex]    Script Date: 30/11/2025 9:51:01 CH ******/
DROP INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
GO
/****** Object:  Index [IX_UserId]    Script Date: 30/11/2025 9:51:01 CH ******/
DROP INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 30/11/2025 9:51:01 CH ******/
DROP INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
GO
/****** Object:  Index [IX_UserId]    Script Date: 30/11/2025 9:51:01 CH ******/
DROP INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
GO
/****** Object:  Index [IX_UserId]    Script Date: 30/11/2025 9:51:01 CH ******/
DROP INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 30/11/2025 9:51:01 CH ******/
DROP INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
GO
/****** Object:  Table [dbo].[tb_SystemSetting]    Script Date: 30/11/2025 9:51:01 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_SystemSetting]') AND type in (N'U'))
DROP TABLE [dbo].[tb_SystemSetting]
GO
/****** Object:  Table [dbo].[tb_Subcribe]    Script Date: 30/11/2025 9:51:01 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_Subcribe]') AND type in (N'U'))
DROP TABLE [dbo].[tb_Subcribe]
GO
/****** Object:  Table [dbo].[tb_Review]    Script Date: 30/11/2025 9:51:01 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_Review]') AND type in (N'U'))
DROP TABLE [dbo].[tb_Review]
GO
/****** Object:  Table [dbo].[tb_ProductImage]    Script Date: 30/11/2025 9:51:01 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_ProductImage]') AND type in (N'U'))
DROP TABLE [dbo].[tb_ProductImage]
GO
/****** Object:  Table [dbo].[tb_ProductCategory]    Script Date: 30/11/2025 9:51:01 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_ProductCategory]') AND type in (N'U'))
DROP TABLE [dbo].[tb_ProductCategory]
GO
/****** Object:  Table [dbo].[tb_Product]    Script Date: 30/11/2025 9:51:01 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_Product]') AND type in (N'U'))
DROP TABLE [dbo].[tb_Product]
GO
/****** Object:  Table [dbo].[tb_Post]    Script Date: 30/11/2025 9:51:01 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_Post]') AND type in (N'U'))
DROP TABLE [dbo].[tb_Post]
GO
/****** Object:  Table [dbo].[tb_OrderDetail]    Script Date: 30/11/2025 9:51:01 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_OrderDetail]') AND type in (N'U'))
DROP TABLE [dbo].[tb_OrderDetail]
GO
/****** Object:  Table [dbo].[tb_Order]    Script Date: 30/11/2025 9:51:01 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_Order]') AND type in (N'U'))
DROP TABLE [dbo].[tb_Order]
GO
/****** Object:  Table [dbo].[tb_News]    Script Date: 30/11/2025 9:51:01 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_News]') AND type in (N'U'))
DROP TABLE [dbo].[tb_News]
GO
/****** Object:  Table [dbo].[tb_Contact]    Script Date: 30/11/2025 9:51:01 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_Contact]') AND type in (N'U'))
DROP TABLE [dbo].[tb_Contact]
GO
/****** Object:  Table [dbo].[tb_Category]    Script Date: 30/11/2025 9:51:01 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_Category]') AND type in (N'U'))
DROP TABLE [dbo].[tb_Category]
GO
/****** Object:  Table [dbo].[tb_Advertise]    Script Date: 30/11/2025 9:51:01 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_Advertise]') AND type in (N'U'))
DROP TABLE [dbo].[tb_Advertise]
GO
/****** Object:  Table [dbo].[Imports]    Script Date: 30/11/2025 9:51:01 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Imports]') AND type in (N'U'))
DROP TABLE [dbo].[Imports]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 30/11/2025 9:51:01 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Coupons]') AND type in (N'U'))
DROP TABLE [dbo].[Coupons]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 30/11/2025 9:51:01 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUsers]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUsers]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 30/11/2025 9:51:01 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUserRoles]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 30/11/2025 9:51:01 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserLogins]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUserLogins]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 30/11/2025 9:51:01 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserClaims]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUserClaims]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 30/11/2025 9:51:01 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetRoles]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetRoles]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 30/11/2025 9:51:01 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__MigrationHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__MigrationHistory]
GO
USE [master]
GO
/****** Object:  Database [aspnet-GundamZoneProject-20251025100450]    Script Date: 30/11/2025 9:51:01 CH ******/
DROP DATABASE [aspnet-GundamZoneProject-20251025100450]
GO
/****** Object:  Database [aspnet-GundamZoneProject-20251025100450]    Script Date: 30/11/2025 9:51:01 CH ******/
CREATE DATABASE [aspnet-GundamZoneProject-20251025100450]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'aspnet-GundamZoneProject-20251025100450.mdf', FILENAME = N'D:\DATN\GundamZoneProject\GundamZoneProject\App_Data\aspnet-GundamZoneProject-20251025100450.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'aspnet-GundamZoneProject-20251025100450_log.ldf', FILENAME = N'D:\DATN\GundamZoneProject\GundamZoneProject\App_Data\aspnet-GundamZoneProject-20251025100450_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [aspnet-GundamZoneProject-20251025100450].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [aspnet-GundamZoneProject-20251025100450]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 30/11/2025 9:51:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 30/11/2025 9:51:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 30/11/2025 9:51:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 30/11/2025 9:51:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 30/11/2025 9:51:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 30/11/2025 9:51:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[AvatarPath] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 30/11/2025 9:51:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[DiscountType] [int] NOT NULL,
	[DiscountValue] [decimal](18, 2) NOT NULL,
	[MinOrderValue] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Coupons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Imports]    Script Date: 30/11/2025 9:51:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Imports](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ImportDate] [datetime] NOT NULL,
	[OldStock] [int] NOT NULL,
	[NewStock] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Imports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Advertise]    Script Date: 30/11/2025 9:51:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Advertise](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Image] [nvarchar](500) NULL,
	[Link] [nvarchar](500) NULL,
	[Type] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tb_Advertise] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Category]    Script Date: 30/11/2025 9:51:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[SeoTitle] [nvarchar](150) NULL,
	[SeoDescription] [nvarchar](250) NULL,
	[SeoKeywords] [nvarchar](150) NULL,
	[Position] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[Alias] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.tb_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Contact]    Script Date: 30/11/2025 9:51:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Contact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[Website] [nvarchar](max) NULL,
	[Message] [nvarchar](4000) NULL,
	[IsRead] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tb_Contact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_News]    Script Date: 30/11/2025 9:51:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[CategoryID] [int] NOT NULL,
	[SeoTitle] [nvarchar](max) NULL,
	[SeoDescription] [nvarchar](max) NULL,
	[SeoKeyWords] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[Alias] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.tb_News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Order]    Script Date: 30/11/2025 9:51:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[CustomerName] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[TypePayment] [int] NOT NULL,
	[CustomerId] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[CouponCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tb_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_OrderDetail]    Script Date: 30/11/2025 9:51:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_OrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_dbo.tb_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Post]    Script Date: 30/11/2025 9:51:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Post](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](250) NULL,
	[CategoryID] [int] NOT NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[SeoDescription] [nvarchar](500) NULL,
	[SeoKeyWords] [nvarchar](250) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[Posts_Id] [int] NULL,
	[Alias] [nvarchar](150) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.tb_Post] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Product]    Script Date: 30/11/2025 9:51:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[ProductCode] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](250) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[PriceSale] [decimal](18, 2) NULL,
	[Quantity] [int] NOT NULL,
	[isHome] [bit] NOT NULL,
	[isSale] [bit] NOT NULL,
	[isFeature] [bit] NOT NULL,
	[isHot] [bit] NOT NULL,
	[ProductCategoryID] [int] NOT NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[SeoDescription] [nvarchar](500) NULL,
	[SeoKeyWords] [nvarchar](250) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[Alias] [nvarchar](250) NULL,
	[IsActive] [bit] NOT NULL,
	[OriginalPrice] [decimal](18, 2) NOT NULL,
	[Manufacturer] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tb_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ProductCategory]    Script Date: 30/11/2025 9:51:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[SeoDescription] [nvarchar](500) NULL,
	[SeoKeyWords] [nvarchar](250) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[Alias] [nvarchar](150) NOT NULL,
	[Icon] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.tb_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ProductImage]    Script Date: 30/11/2025 9:51:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[IsDefault] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.tb_ProductImage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Review]    Script Date: 30/11/2025 9:51:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Review](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[Rate] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Avatar] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tb_Review] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Subcribe]    Script Date: 30/11/2025 9:51:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Subcribe](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.tb_Subcribe] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_SystemSetting]    Script Date: 30/11/2025 9:51:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_SystemSetting](
	[SettingKey] [nvarchar](50) NOT NULL,
	[SettingValue] [nvarchar](4000) NULL,
	[SettingDescription] [nvarchar](4000) NULL,
 CONSTRAINT [PK_dbo.tb_SystemSetting] PRIMARY KEY CLUSTERED 
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'c7bffb51-829f-4070-9e5e-6a86c1df7127', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'b95138cb-2ddd-4c1b-8e82-747671c93335', N'Customer')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'89314cb7-1b12-4822-bd31-cbad471aafd1', N'Employee')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'07b5ad70-94c9-49ad-9b14-5e2bf173c963', N'b95138cb-2ddd-4c1b-8e82-747671c93335')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'9c7cd18f-7801-4f0b-ae10-e18e9e9fa4db', N'b95138cb-2ddd-4c1b-8e82-747671c93335')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'd37ccfe2-8e00-4573-8014-b63edd782091', N'b95138cb-2ddd-4c1b-8e82-747671c93335')
GO
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [Phone], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Address], [AvatarPath]) VALUES (N'07b5ad70-94c9-49ad-9b14-5e2bf173c963', N'Hoàng Văn Trần', N'0335342191', N'hoangvip3498@gmail.com', 0, N'AKYL1mXSYUaZDPjy8XpUekADd3Ia2oovTwLYvUHe++Zf64tG31q7nVVtzAIU+Xut/w==', N'5484ce2f-9b59-4418-8ace-dabaf49738c2', NULL, 0, 0, NULL, 1, 0, N'hoangvip3498@gmail.com', NULL, NULL)
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [Phone], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Address], [AvatarPath]) VALUES (N'35e58732-3445-4c0c-88bd-e369d4dc21d7', N'Hoàng Văn Trần', N'0335342191', N'hoangvip040103@gmail.com', 0, N'AIbS0mCDTv80tOPS7kBn0AMkGQWskrDvaEHMLU/obCcVmY5PSbUJPv2UWZEMvKsT/w==', N'021c6db2-ec87-4830-ae0e-ee5b5f3e601f', NULL, 0, 0, NULL, 1, 0, N'hoangvip040103@gmail.com', NULL, NULL)
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [Phone], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Address], [AvatarPath]) VALUES (N'9c7cd18f-7801-4f0b-ae10-e18e9e9fa4db', N'Văn Hoàng', N'01232931445', N'superhero040103@gmail.com', 0, N'AIFAUt+LSGECDC1eTmH4DBVyIefag6F7BprKnvj72M0CfvnHADDaZkytOsv/OePVpw==', N'd0aab969-e011-43d8-b9a5-bb1271c56cc9', NULL, 0, 0, NULL, 1, 0, N'superhero040103@gmail.com', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Coupons] ON 

INSERT [dbo].[Coupons] ([Id], [Code], [DiscountType], [DiscountValue], [MinOrderValue], [Quantity], [StartDate], [EndDate], [IsActive], [CreatedDate]) VALUES (1, N'GIẢM 10%', 1, CAST(10.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)), 0, CAST(N'2025-11-19T00:00:00.000' AS DateTime), CAST(N'2025-12-18T00:00:00.000' AS DateTime), 1, CAST(N'2025-11-18T23:40:01.750' AS DateTime))
INSERT [dbo].[Coupons] ([Id], [Code], [DiscountType], [DiscountValue], [MinOrderValue], [Quantity], [StartDate], [EndDate], [IsActive], [CreatedDate]) VALUES (2, N'GIẢM 15%', 1, CAST(15.00 AS Decimal(18, 2)), CAST(2000000.00 AS Decimal(18, 2)), 0, CAST(N'2025-11-19T00:00:00.000' AS DateTime), CAST(N'2025-12-20T00:00:00.000' AS DateTime), 1, CAST(N'2025-11-19T00:52:30.473' AS DateTime))
INSERT [dbo].[Coupons] ([Id], [Code], [DiscountType], [DiscountValue], [MinOrderValue], [Quantity], [StartDate], [EndDate], [IsActive], [CreatedDate]) VALUES (5, N'GIẢM 20%', 1, CAST(20.00 AS Decimal(18, 2)), CAST(10000000.00 AS Decimal(18, 2)), 0, CAST(N'2025-11-19T00:00:00.000' AS DateTime), CAST(N'2025-12-20T00:00:00.000' AS DateTime), 1, CAST(N'2025-11-19T01:07:07.357' AS DateTime))
SET IDENTITY_INSERT [dbo].[Coupons] OFF
GO
SET IDENTITY_INSERT [dbo].[Imports] ON 

INSERT [dbo].[Imports] ([Id], [ProductId], [Quantity], [ImportDate], [OldStock], [NewStock]) VALUES (1, 41, 2, CAST(N'2025-11-25T23:01:33.537' AS DateTime), 0, 0)
INSERT [dbo].[Imports] ([Id], [ProductId], [Quantity], [ImportDate], [OldStock], [NewStock]) VALUES (2, 22, 1, CAST(N'2025-11-26T17:30:00.950' AS DateTime), 0, 0)
INSERT [dbo].[Imports] ([Id], [ProductId], [Quantity], [ImportDate], [OldStock], [NewStock]) VALUES (3, 56, 30, CAST(N'2025-11-27T23:10:11.270' AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[Imports] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Category] ON 

INSERT [dbo].[tb_Category] ([Id], [Title], [Description], [SeoTitle], [SeoDescription], [SeoKeywords], [Position], [CreatedBy], [CreatedDate], [ModifiedDate], [ModifiedBy], [Alias], [IsActive]) VALUES (1, N'Trang chủ', NULL, NULL, NULL, NULL, 1, NULL, CAST(N'2025-10-27T23:29:02.520' AS DateTime), CAST(N'2025-11-26T17:38:22.580' AS DateTime), NULL, N'trang-chu', 0)
INSERT [dbo].[tb_Category] ([Id], [Title], [Description], [SeoTitle], [SeoDescription], [SeoKeywords], [Position], [CreatedBy], [CreatedDate], [ModifiedDate], [ModifiedBy], [Alias], [IsActive]) VALUES (10, N'Sản phẩm', NULL, N'Shop', NULL, NULL, 3, NULL, CAST(N'2025-11-06T15:17:59.700' AS DateTime), CAST(N'2025-11-20T11:13:37.457' AS DateTime), NULL, N'san-pham', 0)
INSERT [dbo].[tb_Category] ([Id], [Title], [Description], [SeoTitle], [SeoDescription], [SeoKeywords], [Position], [CreatedBy], [CreatedDate], [ModifiedDate], [ModifiedBy], [Alias], [IsActive]) VALUES (12, N'Tin tức', NULL, NULL, NULL, NULL, 4, NULL, CAST(N'2025-11-15T20:36:20.167' AS DateTime), CAST(N'2025-11-20T11:13:41.213' AS DateTime), NULL, N'tin-tuc', 0)
SET IDENTITY_INSERT [dbo].[tb_Category] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_News] ON 

SET IDENTITY_INSERT [dbo].[tb_News] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Order] ON 

INSERT [dbo].[tb_Order] ([Id], [Code], [CustomerName], [Phone], [Address], [TotalAmount], [Quantity], [CreatedBy], [CreatedDate], [ModifiedDate], [ModifiedBy], [TypePayment], [CustomerId], [Status], [Email], [DiscountAmount], [CouponCode]) VALUES (77, N'DH1250', N'Văn Hoàng', N'01232931445', N'Hà Nội', CAST(14400000.00 AS Decimal(18, 2)), 0, N'01232931445', CAST(N'2025-11-27T23:56:09.937' AS DateTime), CAST(N'2025-11-27T23:56:28.787' AS DateTime), NULL, 1, N'9c7cd18f-7801-4f0b-ae10-e18e9e9fa4db', 2, N'superhero040103@gmail.com', CAST(3600000.00 AS Decimal(18, 2)), N'GIẢM 20%')
INSERT [dbo].[tb_Order] ([Id], [Code], [CustomerName], [Phone], [Address], [TotalAmount], [Quantity], [CreatedBy], [CreatedDate], [ModifiedDate], [ModifiedBy], [TypePayment], [CustomerId], [Status], [Email], [DiscountAmount], [CouponCode]) VALUES (78, N'DH7223', N'Văn Hoàng', N'01232931445', N'Đình Quán Phúc Diễn Hà Nội', CAST(7000000.00 AS Decimal(18, 2)), 0, N'01232931445', CAST(N'2025-11-28T00:20:20.313' AS DateTime), CAST(N'2025-11-28T00:20:33.760' AS DateTime), NULL, 1, N'9c7cd18f-7801-4f0b-ae10-e18e9e9fa4db', 2, N'superhero040103@gmail.com', CAST(0.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[tb_Order] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_OrderDetail] ON 

INSERT [dbo].[tb_OrderDetail] ([Id], [OrderId], [ProductId], [Price], [Quantity]) VALUES (81, 76, 56, CAST(310000.00 AS Decimal(18, 2)), 20)
INSERT [dbo].[tb_OrderDetail] ([Id], [OrderId], [ProductId], [Price], [Quantity]) VALUES (82, 77, 54, CAST(1200000.00 AS Decimal(18, 2)), 15)
INSERT [dbo].[tb_OrderDetail] ([Id], [OrderId], [ProductId], [Price], [Quantity]) VALUES (83, 78, 52, CAST(1400000.00 AS Decimal(18, 2)), 5)
SET IDENTITY_INSERT [dbo].[tb_OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Post] ON 

INSERT [dbo].[tb_Post] ([Id], [Title], [Description], [Detail], [Image], [CategoryID], [SeoTitle], [SeoDescription], [SeoKeyWords], [CreatedBy], [CreatedDate], [ModifiedDate], [ModifiedBy], [Posts_Id], [Alias], [IsActive]) VALUES (1, N'aaab', N'a', N'a', N'/Uploads/images/1310345.jpg', 1, N'a', N'a', NULL, NULL, CAST(N'2025-10-30T20:50:05.000' AS DateTime), CAST(N'2025-10-30T20:59:56.817' AS DateTime), NULL, NULL, N'aaab', 1)
SET IDENTITY_INSERT [dbo].[tb_Post] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Product] ON 

SET IDENTITY_INSERT [dbo].[tb_Product] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ProductCategory] ON 

INSERT [dbo].[tb_ProductCategory] ([Id], [Title], [Description], [SeoTitle], [SeoDescription], [SeoKeyWords], [CreatedBy], [CreatedDate], [ModifiedDate], [ModifiedBy], [Alias], [Icon]) VALUES (2, N'Real Grade', NULL, N'RG', NULL, NULL, NULL, CAST(N'2025-11-04T21:55:16.000' AS DateTime), CAST(N'2025-11-09T00:51:07.617' AS DateTime), NULL, N'real-grade', NULL)
INSERT [dbo].[tb_ProductCategory] ([Id], [Title], [Description], [SeoTitle], [SeoDescription], [SeoKeyWords], [CreatedBy], [CreatedDate], [ModifiedDate], [ModifiedBy], [Alias], [Icon]) VALUES (4, N'High Grade', NULL, N'HG', NULL, NULL, NULL, CAST(N'2025-11-05T20:55:12.000' AS DateTime), CAST(N'2025-11-09T00:51:19.897' AS DateTime), NULL, N'high-grade', NULL)
INSERT [dbo].[tb_ProductCategory] ([Id], [Title], [Description], [SeoTitle], [SeoDescription], [SeoKeyWords], [CreatedBy], [CreatedDate], [ModifiedDate], [ModifiedBy], [Alias], [Icon]) VALUES (5, N'Super Deformed', NULL, N'SD / SDCS / SDW', NULL, NULL, NULL, CAST(N'2025-11-05T20:55:41.000' AS DateTime), CAST(N'2025-11-09T00:51:39.473' AS DateTime), NULL, N'super-deformed', NULL)
SET IDENTITY_INSERT [dbo].[tb_ProductCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ProductImage] ON 

INSERT [dbo].[tb_ProductImage] ([Id], [ProductID], [Image], [IsDefault]) VALUES (3, 7, N'/Uploads/images/B%C3%BAt%20k%E1%BA%BB%20line%2C%20k%E1%BA%BB%20ch%E1%BA%A3y%20Gundam%20Marker%20-%20GM01%2C%20GM02%2C%20GM03%2C%20GM301%2C%20GM302%2C%20GM303%2C%20GM300.jpg', 1)
INSERT [dbo].[tb_ProductImage] ([Id], [ProductID], [Image], [IsDefault]) VALUES (7, 12, N'/Uploads/images/Dao%20g%E1%BB%8Dt%20m%C3%B4%20h%C3%ACnh%20k%C3%A8m%2030%20l%C6%B0%E1%BB%A1i%206mm.jpg', 1)
INSERT [dbo].[tb_ProductImage] ([Id], [ProductID], [Image], [IsDefault]) VALUES (11, 15, N'/Uploads/images/Gi%E1%BA%A5y%20nh%C3%A1m%20x%E1%BB%91p%20m%C3%B4%20h%C3%ACnh%20Dspiae%20cao%20c%E1%BA%A5p%20c%E1%BA%AFt%20s%E1%BA%B5n%20SS3%20(1%20h%E1%BB%99p%205%20c%C3%A1i).jpg', 1)
SET IDENTITY_INSERT [dbo].[tb_ProductImage] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Review] ON 

INSERT [dbo].[tb_Review] ([Id], [ProductId], [UserName], [FullName], [Email], [Content], [Rate], [CreatedDate], [Avatar]) VALUES (9, 19, N'hoangvip040103@gmail.com', N'Hoàng Văn Trần', N'hoangvip040103@gmail.com', N'tốt', 4, CAST(N'2025-11-19T23:54:27.427' AS DateTime), N'/Uploads/Avatars/638991896326272052_1310345.jpg')
INSERT [dbo].[tb_Review] ([Id], [ProductId], [UserName], [FullName], [Email], [Content], [Rate], [CreatedDate], [Avatar]) VALUES (10, 19, N'hoangvip040103@gmail.com', N'Hoàng Văn Trần', N'hoangvip040103@gmail.com', N'quá đẹp', 4, CAST(N'2025-11-19T23:58:10.800' AS DateTime), N'/Uploads/Avatars/638991896326272052_1310345.jpg')
INSERT [dbo].[tb_Review] ([Id], [ProductId], [UserName], [FullName], [Email], [Content], [Rate], [CreatedDate], [Avatar]) VALUES (11, 19, N'hoangvip040103@gmail.com', N'Hoàng Văn Trần', N'hoangvip040103@gmail.com', N'good', 4, CAST(N'2025-11-19T23:59:15.500' AS DateTime), N'/Uploads/Avatars/638991896326272052_1310345.jpg')
SET IDENTITY_INSERT [dbo].[tb_Review] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Subcribe] ON 

INSERT [dbo].[tb_Subcribe] ([Id], [Email], [CreatedDate]) VALUES (1, N'hoangvip040103@gmail.com', CAST(N'2025-11-08T18:04:51.097' AS DateTime))
INSERT [dbo].[tb_Subcribe] ([Id], [Email], [CreatedDate]) VALUES (2, N'hoangvip040103@gmail.com', CAST(N'2025-11-08T18:12:59.900' AS DateTime))
INSERT [dbo].[tb_Subcribe] ([Id], [Email], [CreatedDate]) VALUES (3, N'hoangvip040103@gmail.com', CAST(N'2025-11-08T18:13:06.150' AS DateTime))
SET IDENTITY_INSERT [dbo].[tb_Subcribe] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 30/11/2025 9:51:01 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 30/11/2025 9:51:01 CH ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 30/11/2025 9:51:01 CH ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 30/11/2025 9:51:01 CH ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 30/11/2025 9:51:01 CH ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 30/11/2025 9:51:01 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 30/11/2025 9:51:01 CH ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[Imports]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 30/11/2025 9:51:01 CH ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[tb_News]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderId]    Script Date: 30/11/2025 9:51:01 CH ******/
CREATE NONCLUSTERED INDEX [IX_OrderId] ON [dbo].[tb_OrderDetail]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 30/11/2025 9:51:01 CH ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[tb_OrderDetail]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 30/11/2025 9:51:01 CH ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[tb_Post]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Posts_Id]    Script Date: 30/11/2025 9:51:01 CH ******/
CREATE NONCLUSTERED INDEX [IX_Posts_Id] ON [dbo].[tb_Post]
(
	[Posts_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductCategoryID]    Script Date: 30/11/2025 9:51:01 CH ******/
CREATE NONCLUSTERED INDEX [IX_ProductCategoryID] ON [dbo].[tb_Product]
(
	[ProductCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductID]    Script Date: 30/11/2025 9:51:01 CH ******/
CREATE NONCLUSTERED INDEX [IX_ProductID] ON [dbo].[tb_ProductImage]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 30/11/2025 9:51:01 CH ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[tb_Review]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Imports] ADD  DEFAULT ((0)) FOR [OldStock]
GO
ALTER TABLE [dbo].[Imports] ADD  DEFAULT ((0)) FOR [NewStock]
GO
ALTER TABLE [dbo].[tb_Category] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tb_News] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tb_Order] ADD  DEFAULT ((0)) FOR [TypePayment]
GO
ALTER TABLE [dbo].[tb_Order] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tb_Order] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[tb_Post] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tb_Product] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tb_Product] ADD  DEFAULT ((0)) FOR [OriginalPrice]
GO
ALTER TABLE [dbo].[tb_ProductCategory] ADD  DEFAULT ('') FOR [Alias]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Imports]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Imports_dbo.tb_Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[tb_Product] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Imports] CHECK CONSTRAINT [FK_dbo.Imports_dbo.tb_Product_ProductId]
GO
ALTER TABLE [dbo].[tb_News]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tb_News_dbo.tb_Category_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[tb_Category] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_News] CHECK CONSTRAINT [FK_dbo.tb_News_dbo.tb_Category_CategoryID]
GO
ALTER TABLE [dbo].[tb_OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tb_OrderDetail_dbo.tb_Order_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[tb_Order] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_OrderDetail] CHECK CONSTRAINT [FK_dbo.tb_OrderDetail_dbo.tb_Order_OrderId]
GO
ALTER TABLE [dbo].[tb_OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tb_OrderDetail_dbo.tb_Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[tb_Product] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_OrderDetail] CHECK CONSTRAINT [FK_dbo.tb_OrderDetail_dbo.tb_Product_ProductId]
GO
ALTER TABLE [dbo].[tb_Post]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tb_Post_dbo.tb_Category_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[tb_Category] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_Post] CHECK CONSTRAINT [FK_dbo.tb_Post_dbo.tb_Category_CategoryID]
GO
ALTER TABLE [dbo].[tb_Post]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tb_Post_dbo.tb_Post_Posts_Id] FOREIGN KEY([Posts_Id])
REFERENCES [dbo].[tb_Post] ([Id])
GO
ALTER TABLE [dbo].[tb_Post] CHECK CONSTRAINT [FK_dbo.tb_Post_dbo.tb_Post_Posts_Id]
GO
ALTER TABLE [dbo].[tb_Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tb_Product_dbo.tb_ProductCategory_ProductCategoryID] FOREIGN KEY([ProductCategoryID])
REFERENCES [dbo].[tb_ProductCategory] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_Product] CHECK CONSTRAINT [FK_dbo.tb_Product_dbo.tb_ProductCategory_ProductCategoryID]
GO
ALTER TABLE [dbo].[tb_ProductImage]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tb_ProductImage_dbo.tb_Product_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[tb_Product] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_ProductImage] CHECK CONSTRAINT [FK_dbo.tb_ProductImage_dbo.tb_Product_ProductID]
GO
ALTER TABLE [dbo].[tb_Review]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tb_Review_dbo.tb_Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[tb_Product] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_Review] CHECK CONSTRAINT [FK_dbo.tb_Review_dbo.tb_Product_ProductId]
GO
USE [master]
GO
