﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin | Log in</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/assets/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Content/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/assets/dist/css/adminlte.min.css">

    <link href="~/Assets/AdminCss/layout-login-admin.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700;800&display=swap" rel="stylesheet">
    <style>
        .gundam-black {
            color: #000 !important;
        }
        .login-box .card-header {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }

        .login-card-body,
        .card-body {
            margin-top: -40px !important; /* Kéo lên gần logo */
        }

    </style>
</head>

<body class="hold-transition login-page">
    <div class="login-box">

        <div class="card">

            <div class="card-header text-center border-0 mt-2 mb-0">
                <a href="/admin" class="brand-title">
                    <span class="gundam-red">GUNDAM</span><span class="gundam-black">ZONE</span>
                </a>
            </div>

            @RenderBody()

        </div>

    </div>

    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/Content/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/assets/dist/js/adminlte.min.js"></script>
</body>
</html>